@import "../../../styles/vars.less";
@import "../../../styles/mixins.less";

.ProjectInfoCard{
  .ProjectInfo-body{
    .problemArea{
      div{
      padding: 10px;
      border: 2px solid #828282;
      box-sizing: border-box;
      border-radius: 10px;
      }

      h4{
        margin-top: @margin-base-1/2;
      }

      >p{
        margin-top: @margin-base-1/2;
      }
      
    }


  }
}