@import '../../styles/vars.less';
@import '../../styles/fonts.css';
@import '../../styles/mixins.less';

.card-login{
  width: 80vw;
  height: 70vh;
  .flexCenter(column);
  .cardBorder;
  max-width: 400px;
  /**
   * Buttons have duplicate styling. 
   * TODO: Remove duplicate styling into a generic button styling.
   */
  .d4sd-btn{
    background-color: #4497FF;
    color: white;
  }

  .fb-btn{
    background-color: #4267B2;
    color: white;
  }

  .google-btn{
    background-color: #DC4E41;
    margin-bottom: 5px;
    color: white;
  }
}

