@import '../../styles/reset.css';
@import '../../styles/fonts.scss';
@import '../../styles/vars.scss';

#container{
  @include cardContainer();
  @include flexCenter(column);
  width: 500px;
  height: 531px;
}

.mediaBtn{
  background-color: $primaryBtn;
}

input{
  display: none;
}