@import '../../styles/vars.less';
@import '../../styles/fonts.css';
@import '../../styles/mixins.less';


.card-login{
  width: @large-card-width;
  height: @large-card-height;
  .flexCenter(column);
  .cardBorder;
  max-width: @large-card-max-width;

  /**
   * Buttons have duplicate styling.
   * TODO: Remove duplicate styling into a generic button styling.
   */
  .d4sd-btn{
    margin-bottom: @margin-base*2;
  }
  Input{margin-bottom: @margin-base/2;}
  .google-btn{
    margin-bottom: @margin-base/2;
  }

  .login-header{
    font-size: @font-base*2;
    margin-bottom: @margin-base;
  }
}
