@import '../../styles/vars.less';
@import '../../styles/fonts.less';
@import '../../styles/mixins.less';

.card-login{
  width: @large-card-width;
  min-width: @large-card-min-width;
  max-width: 500px;
  .flexCenter(column);
  .cardBorder;
  /**
   * Buttons have duplicate styling.
   * TODO: Remove duplicate styling into a generic button styling.
   */
   
  .d4sd-btn{
    margin-bottom: @margin-base*2;
  }
  Input{margin-bottom: @margin-base/2;}
  .google-btn{
    margin-bottom: @margin-base/2;
  }

  .login-header{
    font-size: @font-base*2;
    margin-bottom: @margin-base;
  }
  
  .link-signup{
    text-align: center;
    .txt;
    color: @primary-txt;
  }
}
