@import '../../styles/vars.less';
@import '../../styles/fonts.less';
@import '../../styles/mixins.less';
.ethics-card {
  max-width: @large-card-max-width;
  margin: auto;
  width: @card-width;
  height: 100%;
  .ethics-header {
    font-weight: bold;
  }
  .ethics-body {
    margin-left: @margin-base * 3/4;
    li {
      margin-bottom: @margin-base;
      margin-top: @margin-base;
      color: @b1;

      padding-left: @margin-base * 2;
    }
    .ethics-list {
      list-style: decimal;
    }
  }
  .choices {
    width:100%;
    margin-left: @margin-base * 4;
    .choice {
      display: block;
      margin: auto;
      margin-bottom: @margin-base;
      margin-top: @margin-base;
      color:@b1;
      font-weight: bold;
    }
  }
  .bottom-btn {
    text-align: center;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .d4sd-btn {
    margin: @margin-base @margin-base/2;
    width:100%;
  }
}
