@import '../../styles/vars.less';
@import '../../styles/fonts.less';
@import '../../styles/mixins.less';
.ethics-card {
  max-width: @large-card-max-width;
  width: 100%;
  height: 100%;
  .cardBorder;
  .ethics-header {
    font-weight: bold;
  }
  .ethics-body {
    margin-left: @margin-base * 3/4;
    p {
      margin-bottom: @margin-base;
      margin-top: @margin-base;
    }
  }
  .choices {
    .choice {
      display: block;
      margin-bottom: @margin-base;
      margin-top: @margin-base;
      color:@b1;
      font-weight: medium;
    }
  }
  .bottom-btn {
    text-align: center;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .bottom-btn > * {
    margin: @margin-base @margin-base/2;
  }
}
