@import '../../../styles/vars.less';
@import '../../../styles/mixins.less';
.PrelimFinishCard {
  max-width: 90%;
  margin: auto;
  height: 100%;
  .finish-container {
    .check-icon {
      font-size: 64px;
      color: @d4sd-color;
      width: 100%;
    }
    h2 {
      color: @d4sd-color;
    }
  }
  .info-container {
    margin-top: @margin-base * 4;
    text-align: center;
  }
  .bottom-btns {
    margin-top: @margin-base * 6;
    text-align: center;
  }
}
