@import "../../../styles/vars.less";
@import "../../../styles/mixins.less";
@import "../../../styles/fonts.less";
.AboutLayout {
  .aboutavatar {
    @media screen and (max-width: @sm) {
      width: 30px;
      height: 30px;
    }
    @media screen and (min-width: @sm) {
      width: 80px;
      height: 80px;
    }
    @media screen and (min-width: @md) {
      width: 80px;
      height: 80px;
    }
    @media screen and (min-width: @lg) {
      width: 70px;
      height: 70px;
    }
  }

  .ant-card-meta-description {
    color: #333 !important;
    font-family: "Open Sans", sans-serif;
    font-size: 2.2rem;
    line-height: 3.3rem;
    letter-spacing: 0.02rem;
    text-align: left;
  }

  .team {
    margin-top: @margin-base-2;
    margin-bottom: @margin-base-2;

    .heading {
      font-size: 3rem;
      margin-top: @margin-base-1;
      color: @d4sd-color-two;
    }
  }
}
