@import "../../../styles/vars.less";
@import "../../../styles/mixins.less";
@import "../../../styles/fonts.less";
.aboutavatar {
  @media screen and (max-width: @sm) {
    width: 30px;
    height: 30px;
  }
  @media screen and (min-width: @sm) {
    width: 80px;
    height: 80px;
  }
  @media screen and (min-width: @md) {
    width: 80px;
    height: 80px;
  }
  @media screen and (min-width: @lg) {
    width: 70px;
    height: 70px;
  }
}
