@import "../../../styles/vars.less";
@import "../../../styles/mixins.less";
@import "../../../styles/fonts.less";
.AboutLayout {
  // Section 1
  .landing-div {
    height: 60vh;
    background-image: url("../../../assets/img/about_header.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
  }
  .button-row {
    display: flex;
    flex-direction: row;
  }

  // Section 2
  .participate-content {
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 200px;
    height: 100vh;
    img {
      padding-top: 50px;
      width: 100%;
    }
  }

  // Section 2
  .goals {
    padding-top: 50px;
    background-color: #eff8ff;
    .goals-header {
      display: flex;
      justify-content: center;
    }
    .goals-list {
      padding-top: 25px;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 100px;
      display: flex;
      justify-content: center;
      .inner-flex {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .ant-card-body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-height: 150px;
          .ant-avatar {
            border-radius: 0;
          }
        }
        .goals-card {
          background-color: #eff8ff;
          max-width: 400px;
          margin: auto;
        }
      }
    }
  }
}
