.paragraph {
  p {
    margin-top: 1
  }
}

.section {
  text-align: left;
  h4 {
    color: black;
  }
  .linkswrapper {
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
  }
  .title {
    margin-bottom: 0px;
  }
  .links {
    font-size: 2rem;
  }
}