@import '../../../styles/vars.less';
@import '../../../styles/mixins.less';
@import '../../../styles/fonts.less';

.WorkspaceLayout {
  .heading {
    .spaceHeading;
  }
  .timelineWrapper {
    overflow: hidden;
  }
  .timeline {
    .d4sdcard-wrapper {
      display: inline;
    }
    margin-left: 20%;
    margin-right: 20%;
    margin-top: @margin-base * 7;
    .ant-timeline-item-tail {
      height: calc(100% + 400px);
      top:-100px;
    }
  }
}
