@import "../../../styles/vars.less";
@import "../../../styles/mixins.less";
@import "../../../styles/fonts.less";
.InvolvedLayout {
  // Section 1
  .landing-div {
    height: auto;
    min-height: 45vh;
    background-image: url("../../../assets/img/involve_header.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 15vh;
  }
  .button-row {
    display: flex;
    flex-direction: row;
  }

  // Section 2
  .involve-cards {
    padding-top: 10vh;
  }
  .ant-card-bordered {
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
