@import "../../../styles/vars.less";
@import "../../../styles/mixins.less";
@import "../../../styles/fonts.less";
.InvolvedLayout {
  // Section 1
  .landing-div {
    padding: 150px 300px 100px 200px;
    height: 60vh;
    background-image: url("../../../assets/img/involve_header.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .button-row {
    display: flex;
    flex-direction: row;
  }

  // Section 2
  .involve-cards {
    padding-top: 100px;
  }
}
