@import './vars.less';

.container {
  text-align: center;
  @media screen and (max-width: @sm) {
    max-width: 98%;
  }
  @media screen and (min-width: @md) {
    max-width: 80%;
  }
  @media screen and (min-width: @lg) {
    max-width: 65%;
  }
  @media screen and (min-width: 2140px) {
    max-width: 1361px;
  }
}

.paragraph {
  padding-top: @margin-base-2;
  padding-bottom: @margin-base-1;
}

.section {
  padding-top: @margin-base-2;
}

.homebackground(@img) {
  background-image: url('../assets/img/@{img}.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-width: 100%;
  height: 100vh;
  padding-top: @margin-base-25;
  // @media screen and (max-width: @sm) {
  //   background-size: contain;
  // }
  // @media screen and (min-width: @md) {
  //   background-size: cover;
  // }
}

.headerbackground(@img) {
  background-image: url('../assets/img/@{img}.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-width: 100%;
  padding-top: @margin-base-25;
  background-size: contain;
  height: auto;
  padding-bottom: 64px;
  
  @media screen and (max-width: 845px) {
    padding-bottom: 108px;
  }
  .container {
    @media screen and (max-width: 845px) {
      margin-left: auto;
      margin-right: auto;
      margin-top: 24px;
    }
  }
}

.ant-card-body {
  @media screen and (max-width: @sm) {
    height: auto;
  }
  @media screen and (min-width: @lg) {
    height: 460px;
  }
  @media screen and (min-width: @xl) {
    height: 390px;
  }
  @media screen and (min-width: 1495px) {
    height: 320px;
  }
}
