@import "./vars.less";

html {
  font-size: 7px;
  @media screen and (min-width: @sm) {
    font-size: 8px;
  }
  @media screen and (min-width: @md) {
    font-size: 9px;
  }

}

h1 {
  color: @d4sd-color;
  font-size: 6.2rem;
  font-weight: bold;
}

h2 {
  color: @heading-color;
  font-size: 2.8rem;
  font-weight: bold;
}

h4{
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  color: #757575;
  font-family: "Montserrat", sans-serif;
}
