@import './vars.less';

html{
  font-size: 7px;
  @media screen and (min-width: @sm){
    font-size: 8px;
  }
  @media screen and (min-width: @md){
    font-size: 9px;
  }
}

h1{
  color: @heading-color;
  font-size: 6.6rem;
  font-weight: bold;
}

h2{
  color: @heading-color;
  font-size: 2.4rem;
  font-weight: bold;
}

p{
  font-style: normal;
  font-weight: normal;
  font-size: 2.6rem;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #333333;
}
