@import './reset.css';

/** Buttons **/
@d4sd-color: #4497FF;
@facebook-color: #4267B2;
@google-color: #DC4E41;
@white: white;
@primary-txt: #828282;

/** Margin-padding **/
@margin-base: 12px;

/** Widths **/
@large-card-width: 80vw;

/** Heights **/
@large-card-height: 70vh;

/** Font **/
@font-base: 14px;

/** Max-dimensions **/
@large-card-max-width: 400px;
