@import './reset.css';

/** Buttons **/
@d4sd-color: #4497FF;
@d4sd-color-hover: #88BDFF;
@facebook-color: #4267B2;
@google-color: #DC4E41;
@white: white;
@primary-txt: #828282;

/** Margin-padding **/
@margin-base: 12px;

/** Widths **/
@large-card-width: 80vw;

/** Heights **/
@large-card-height: 70vh;

/** Font **/
@font-base: 14px;
@b1: #333333;
@b2: #666666;
@b3: #999999;


/** Max-dimensions **/
@large-card-max-width: 400px;

/** Navbar **/
@tab-height-active: 90px;
@tab-height: 75px;
@navbar-profile-width: 30px;
@navbar-font-size: 16px;
@navbar-boxshadow: 0 4px 10px rgba(0,0,0,0.25);
@navbar-item-padding: 24px;
@d4sd-color-menu-hover: #66AAFF;
@d4sd-color-menu-hover-scroll: #DDECFF;
