@import '../../../styles/vars.less';
@import '../../../styles/mixins.less';
@import '../../../styles/fonts.less';


.ResourcesLayout {
  .ant-collapse-header {
    font-size: 16px;
  }

  // Section 1
  .landing-div {
    height: 45vh;
    background-image: url('../../../assets/img/resource_header.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 20vh;
  }

  .involve-cards {
    margin-top: @margin-base * 2;
  }

  .involve-card .ant-card-body {
    @media screen and (max-width: @sm) {
      height: auto;
    }

    @media screen and (min-width: @lg) {
      height: 420px;
    }

    @media screen and (min-width: @xl) {
      height: 300px;
    }
  }

  .ant-card-meta {
    font-size: 1.2em;
  }

  .ant-card-bordered {
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .ant-card-actions {
    border-bottom-left-radius: @margin-base;
    border-bottom-right-radius: @margin-base;
  }

  .max-width {
    margin: auto;

    @media screen and (max-width: @sm) {
      width: 98%;
    }

    @media screen and (min-width: @sm) {
      width: 80%;
    }

    @media screen and (min-width: @md) {
      width: 70%;
    }

    @media screen and (min-width: @lg) {
      width: 85%;
    }

    @media screen and (min-width: @xl) {
      width: 70%;
    }
  }
}

.extra {
  padding: 10px 25px 35px 25px;
  // border-left: 25px solid #FF9696;
  border-radius: 20px;
  margin-bottom: 3vh;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.45);


  h1 {
    padding-top: 2vh;
    font-size: 2.25rem;
    text-align: left;
    line-height: 25px;
  }

  h3 {
    text-align: left;
    line-height: 0px;
    font-size: 1.75rem;
    color: #dbdbdb;
  }

  p {
    font-size: 1.8rem;
  }

  &:hover {
    transition: all .3s ease-out;
    transform: translate(0, -3px);
  }

  @media screen and (max-width: 375px) {
    padding: 0px 25px 20px 25px;


    h1 {
      line-height: 25px;
      margin-top: 2.5vh;
    }

    h3 {
      line-height: 10px;
    }
  }
}

.extra-community {
  .extra;
  // border-left: 25px solid #;
}

.extra-data {
  .extra;
  // border-left: 25px solid #B7DFE6;
}

.paragraph {
  padding-top: 2vh;

}

.red {

  margin-top: 2.5vh;

  .ant-card-bordered {
    // border-left: 25px solid #FF9696;

  }

  @media (max-width:1244px) and (min-width:1000px) {

    .ant-card-bordered {
      height: 500px !important;

    }


  }

  .blue {
    .ant-card-bordered {
      // border-left: 25px solid #566ED1;
    }

  }

  .light {
    .ant-card-bordered {
      // border-left: 25px solid #B7DFE6;
    }
  }

  .cardtitle {
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 2vh;
    color: #999999;
  }

  .cardphoto {
    border-radius: 10px 10px 0px 0px;
    height: 200px;
    object-fit: cover;
  }

  .involve-card {
    height: 400px;



    .title {
      text-align: left;
      font-size: 2.75rem;
      line-height: 32px;
    }

    .source {
      color: #dbdbdb;
      font-size: 2.125rem;
      text-align: left;
    }

    p {
      margin-top: 3vh;
      font-size: 2rem;
    }

    .buttoncontainer {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 15px;
      right: 2px;
      width: 100%;

      .button {
        width: 250px;
      }
    }

    &:hover {
      transition: all .3s ease-out;
      transform: translate(0, -3px);
    }
  }
}

.othertitle {
  text-align: left;
  font-size: 2.75rem;
  line-height: 32px;
  color: #999999;
  margin-top: 5vh;
}

.tabcontainer {
  display: flex;
  justify-content: center;

  .resourcetabs {
    display: flex;
    width: 65%;
    margin-top: 5vh;
    margin-left: 4vh;

    h1 {
      color: #A7A7A7;
      font-size: 3rem;

      &:hover {
        cursor: pointer;
      }

      margin-right: 5vw;
    }

    .selected {
      color: #4496FF;
      border-bottom: 4px solid #4496FF;
    }
  }
}

.tabwrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5vh;

  .tab-list {
    display: flex;
    justify-content: flex-start;
    width: 63%;
  }

  @media screen and (max-width: 676px) {
    align-items: flex-start;
  }

  @media screen and (min-width: 2000px) {
    .tab-list {
      display: flex;
      justify-content: flex-start;
      width: 54%;
    }
  }
}

.tab-list-item {
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  margin-right: 5rem;
  font-size: 3rem;
  font-family: Montserrat;
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }

  @media screen and (max-width: 375px) {
    font-size: 2.5rem;
    margin-right: 1rem;
    margin-left: 1.25rem;
    padding: 0rem 0.5rem;
  }
}

.tab-list-active {
  background-color: white;
  border-bottom: solid #4496FF;
  border-width: 0px 0px 3px 0px;
  color: #4496FF;

}

.submitmore {
  display:flex;
  justify-content: center;
  width: 100%;

  p {
    width: 61%;
  }

  @media screen and (max-width: 375px) {
    p {
      width: 80%;

    }
  }
}


.allcards {
  width: 1180px;

  .tags {
    margin-bottom: 3vh;
  }

  @media screen and (max-width: 1500px) {
    width: auto;
    margin: 0px 15px;
  }

}