.subnav {
    border: 1px solid rgba(0, 0, 0, 0.2);
    top: 3.5em;
    left: 0.5em;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.2);
    padding: 1.5em 1em;
    background-color: white;
    z-index: 1000;
}

.subnav-link:hover {
    color: rgba(0, 0, 0, 0.7)!important;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.subnav-link-active {
    color: rgba(0, 0, 0, 0.7)!important;
    font-weight: 700;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.subnav-link-active:hover {
    color: rgba(0, 0, 0, 0.7)!important;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

#home .d4sdbutton-wrapper {
  width: auto;
}
