@import '../../styles/vars.less';
@import '../../styles/fonts.css';
@import '../../styles/mixins.less';

// Signup Card 
.card-signup{
  width: 80vw;
  height: 70vh;
  .flexCenter(column);
  .cardBorder;
  font-size: @font-base*2;
  max-width: 400px;

  /**
   * Buttons have duplicate styling. 
   * TODO: Remove duplicate styling into a generic button styling.
   */

  .input-group{ margin-top: @margin-base;}
  .row-names{margin-bottom: @margin-base/2;}
  .input-email{margin-bottom: @margin-base/2;}
  .signup-header{
    font-size: @font-base*2;
    margin-bottom: @margin-base;
  }
  .google-btn{
    background-color: @google-color;
    .btn;
    margin-bottom: @margin-base/4;
  }

  .d4sd-btn{
    background-color: @d4sd-color;
    .btn;
  }

  .fb-btn{
    background-color: @facebook-color;
    margin-bottom: @margin-base;
    .btn;
  }

  .or-txt{
    text-align: center;
    .txt;
    color: @primary-txt;
  }
}

