@import "../../../styles/vars.less";
@import "../../../styles/mixins.less";
@import "../../../styles/fonts.less";
.ChallengeLayout {
  // Section 1
  .landing-div {
    height: 60vh;
    background-image: url("../../../assets/img/challenge_header.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 20vh;
    .header-text {
      text-align: center;
    }
  }

  // 4 Icons
  .challenge-icons {
    padding-top: 5vh;
  }
  figure {
    text-align: center;
    img {
      height: 100px;
      max-height: 150px;
    }
  }

  // How do you fit in
  .fit-in {
    height: 50vh;
  }

  // Mobility Cards
  .mobility-header {
    text-align: center;
  }
  .ant-card-body {
    padding: 0;
    height: 250px;
  }
  .card-bg {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    .card-text {
      color: white;
    }
  }
  .lastmile-card {
    background-image: url("../../../assets/img/mobility_lastmile.jpg");
    background-size: 100%;
    max-width: 500px;
    border-radius: 20px;
  }
  .safety-card {
    background-image: url("../../../assets/img/mobility_safety.jpg");
    background-size: 100%;
    max-width: 500px;
    border-radius: 20px;
  }
  .equitable-card {
    background-image: url("../../../assets/img/mobility_equitable.jpg");
    background-size: cover;
    max-width: 500px;
    border-radius: 20px;
  }
  .autonomous-card {
    background-image: url("../../../assets/img/mobility_multimodal.jpg");
    background-size: 100%;
    max-width: 500px;
    border-radius: 20px;
  }
}
