@import '../../../styles/vars.less';
@import '../../../styles/mixins.less';
@import '../../../styles/fonts.less';
.SponsorsLayout {
  .sponsors-wrapper {
    background-color: @white;
  }
  .sponsor-benefits-wrapper {
    background-color: #f0f8ff;
  }
  .sponsors-section {
    overflow: hidden;

    .ant-col {
      padding: 12px 12px !important;
    }
  }
  .section {
    .spon {
      margin-bottom: 5vh;
    }
    h4 {
      color: #4497ff;
      font-weight: 650;
    }
    li {
      margin: 10px 20px;
    }
  }
  .sponsor-benefits {
    li {
      color: @b1;
    }
  }
  .logo {
    width: 100%;
    max-width: 240px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  #lab-logo {
    width: 100%;
  }
  #y-logo {
    width: 100%;
  }
  #IBM-logo {
    width: 90%;
  }
  #nsf-logo {
    width: 100%;
  }
}
