@import '../../../styles/vars.less';
@import '../../../styles/mixins.less';
@import '../../../styles/fonts.less';
.SponsorsLayout {
  .section {
    .spon {
      margin-bottom: 5vh;
    }
    h4 {
      color: #4497ff;
      font-weight: 650;
    }
    li {
      margin: 10px 0;
    }
  }
  .sponsor-benefits {
    li {
      color: @b1;
    }
  }
}
