@import '../../../styles/vars.less';
@import '../../../styles/mixins.less';
@import '../../../styles/fonts.less';
.AttendLayout {
  .event-info {
    padding: 75px 0;

    h1,
    h2 {
      color: #4496ff;
      line-height: 16pt;
    }

    h3 {
      color: #25497a;
    }
  }
}

.event-details {
  padding: 75px 0;
  background-color: #edf6ff;

  .details {
    padding: 50px 0;

    .detail {
      display: flex;
    }
  }
}
