@import '../../../styles/vars.less';
@import '../../../styles/mixins.less';
.CommunityFeedbackLayout {
  margin-top: @tab-height;
  .content {
    padding: @margin-base-1 @margin-base*6;
    .row {
      margin-top: @margin-base * 2;
    }
  }
}
