@import '../../../styles/vars.less';
@import '../../../styles/mixins.less';
@import '../../../styles/fonts.less';

.CovidPage {
  > .section {
    padding-top: 6rem;
    > .container {
      padding-bottom: 4rem;
    }
  }

  #section-1 {
    background-color: #edf6ff;
    .container {
      .title {
        margin-bottom: 4rem;
      }
    }
  }
}
