@import '../../styles/vars.less';
@import '../../styles/mixins.less';

#menubar {
  z-index: 1000;
  position: fixed;
  background-color: @d4sd-color;
  border-bottom: none;
  box-shadow: @navbar-boxshadow;
  display: flex;
  flex-direction: row;
  font-weight: medium;
  height: @tab-height;
  width: 100%;
  position: fixed;
  top: 0;
  padding-right: @margin-base * 2;
  z-index: 1000;
  > .emptybar {
    flex-grow: 1;
  }
  > .menu-logo {
    padding-left: 30px;
    img {
      vertical-align: middle;
      height: 28px;
    }
  }
  > .menu-profile {
    // TODO: Design team?
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 95px;
    > img {
      width: 35px;
      vertical-align: middle;
    }
  }
  > .menu-profile img {
    border-radius: 50%;
    height: @navbar-profile-width;
    width: @navbar-profile-width;
  }
  > .menu-item:hover {
    background-color: @d4sd-color-menu-hover;
  }
  > .menu-item.scroll:hover {
    background-color: @d4sd-color-menu-hover-scroll;
  }
  > .menu-item-no,
  .menu-item,
  .menu-profile {
    background-color: @d4sd-color;
    border-bottom: none;
    color: @white;
    font-size: @navbar-font-size;
    line-height: @tab-height;
    top: 0px;
  }
  > .menu-item {
    padding: 0 1.5vh;
    transition: line-height 0.4s;
  }
  > .menu-item span {
    position: relative;
    transition: color 0.4s;
    z-index: 2;
  }
  > .menu-profile.ant-menu-item-selected {
    background-color: @d4sd-color;
    transition: color 0.4s;
  }
  > .menu-item.ant-menu-item-selected {
    line-height: @tab-height-active;
  }
  > .menu-item::before {
    background-color: transparent;
    content: '';
    display: inline-block;
    height: @tab-height;
    left: 0px;
    position: absolute;
    transition: background-color 0.4s, height 0.4s, box-shadow 0.4s;
    width: 100%;
    z-index: 1;
  }
  > .menu-item.ant-menu-item-selected::before {
    background-color: @white;
    box-shadow: @navbar-boxshadow;
    height: @tab-height-active;
  }
  > .ant-menu-item-selected {
    color: @d4sd-color;
  }
  .login-tab {
    margin-right: 30px;
  }
  .profile-picture {
    .profile-pic-letter {
      line-height: 0px;
      font-size: 20px;
      left: 9px;
      top: -11px;
    }
    background-color: #25497a;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-top: @tab-height / 2 - 35 / 2;
  }
}
#menubar.scroll {
  background-color: @white;
  color: @b1;
  > .menu-item-no,
  .menu-item,
  .menu-profile {
    background-color: @white;
    color: @b1;
  }
  > .menu-item:hover {
    background-color: @d4sd-color-menu-hover-scroll;
  }
  > .menu-item.ant-menu-item-selected::before {
    background-color: @d4sd-color;
    box-shadow: @navbar-boxshadow;
    height: @tab-height-active;
  }
  > .ant-menu-item-selected {
    color: @white;
  }
}

#mobileNav {
  background-color: @d4sd-color;
  width: 100%;
  height: @tab-height;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1000;
  box-shadow: @navbar-boxshadow;

  > .emptybar {
    flex-grow: 1;
  }

  > .menu-item-no.menu-logo {
    height: @mobile-navbar-hover-height;
    line-height: @mobile-navbar-hover-height;
  }
}

li.ant-menu-item.mobile-menu-item {
  width: @mobile-navbar-width;
  height: @mobile-navbar-height;
  background-color: @d4sd-color;
  margin: 0 !important;
  color: white;
  border-bottom: 1px solid white;
}

li.ant-menu-item.mobile-menu-item::before {
  background-color: transparent;
  content: '';
  display: inline-block;
  height: @tab-height;
  left: 0px;
  position: absolute;
  transition: background-color 0.4s, height 0.4s, box-shadow 0.4s;
  width: 100%;
  z-index: 1;
}

li.ant-menu-item.mobile-menu-item.ant-menu-item-selected {
  height: @mobile-navbar-hover-height;
  line-height: @mobile-navbar-hover-height;
  box-shadow: @navbar-boxshadow;
  background-color: white;
  color: @d4sd-color;
}

.ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title {
  color: white;
}

.ant-menu-submenu-horizontal > .ant-menu-submenu-title .ant-menu-submenu-arrow {
  display: none;
}

.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-submenu-active {
  border: none !important;
}
