@import "../../styles/vars.less";
@import "../../styles/mixins.less";

#menubar {
	background-color: @d4sd-color;
	border-bottom: none;
	box-shadow: @navbar-boxshadow;
	display: flex;
	flex-direction: row;
	font-weight: medium;
	height: @tab-height;
	width: 100vw;
	> .emptybar {
		flex-grow: 1;
	}
	> .menu-logo {
		padding-left: 30px;
		img {
      vertical-align: middle;
			height: 28px;
		}
	}
	> .menu-profile {
		// TODO: Design team?
    text-align: center;
		padding-left: 30px;
		padding-right: 30px;
		width: 95px;
		> img {
			width: 35px;
      vertical-align: middle;
		}
	}
	> .menu-profile img {
		border-radius: 50%;
		height: @navbar-profile-width;
		width: @navbar-profile-width;
	}
	> .menu-item:hover {
		background-color: @d4sd-color-menu-hover;
	}
	> .menu-item.scroll:hover {
		background-color: @d4sd-color-menu-hover-scroll;
	}
	> .menu-item-no, .menu-item, .menu-profile {
		background-color: @d4sd-color;
		border-bottom: none;
		color: @white;
		font-size: @navbar-font-size;
		line-height: @tab-height;
		top: 0px;
	}
	> .menu-item {
		padding-left: @navbar-item-padding;
		padding-right: @navbar-item-padding;
		transition: line-height 0.4s;
	}
	> .menu-item span {
		position: relative;
		transition: color 0.4s;
		z-index: 2;
	}
	> .menu-profile.ant-menu-item-selected {
		background-color: @d4sd-color;
		transition: color 0.4s;
	}
	> .menu-item.ant-menu-item-selected {
		line-height: @tab-height-active;
	}
	> .menu-item::before {
		background-color: transparent;
		content: "";
		display: inline-block;
		height: @tab-height;
		left: 0px;
		position: absolute;
		transition: background-color 0.4s, height 0.4s, box-shadow 0.4s;
		width: 100%;
		z-index: 1;
	}
	> .menu-item.ant-menu-item-selected::before {
		background-color: @white;
		box-shadow: @navbar-boxshadow;
		height: @tab-height-active;
	}
	> .ant-menu-item-selected {
		color: @d4sd-color;
	}
  .login-tab {
    margin-right: 30px;
  }
}
#menubar.scroll {
  background-color: @white;
  color: @b1;
  > .menu-item-no,
  .menu-item,
  .menu-profile {
    background-color: @white;
    color: @b1;
  }
  > .menu-item:hover {
    background-color: @d4sd-color-menu-hover-scroll;
  }
  > .menu-item.ant-menu-item-selected::before {
    background-color: @d4sd-color;
    box-shadow: @navbar-boxshadow;
    height: @tab-height-active;
  }
  > .ant-menu-item-selected {
    color: @white;
  }
}
