@import "../../../styles/vars.less";
@import "../../../styles/mixins.less";
@import "../../../styles/fonts.less";
.LoginLayout {
  .heading {
    height:300px;
    background-color: #E4F2FF; // TODO: DESIGN TEAM?
    padding: 100px;
    padding-top:150px;
    .heading-message {

    }

  }
  .card-container {
    // center
    padding: @margin-base*2;
  }
}
