@import "../../../styles/vars.less";
@import "../../../styles/mixins.less";

.events-content {
  .events-summary {
    margin: @margin-base-2 0;
  }

  .event-dates {
    color: @primary-txt;
  }

  .speakers {
    background: @d4sd-color-bg;
    padding: @margin-base-2 0;
    .imageDiv {
      margin-top: @margin-base-2;
      width: 100%;
      display: flex;

      //align-items: center;
      img {
        // -webkit-filter: grayscale(100%); /* safari6.0 - 9.0  */
        // filter: grayscale(100%);
        width: 25%;
      }
    }
  }
}
