@import "../../../styles/vars.less";
@import "../../../styles/mixins.less";
.UploadCard {
  max-width: 90%;
  margin: auto;
  height: 100%;
  b {
    font-weight: bold;
    font-family: 'Open Sans';
  }
  h4 {
    color: @d4sd-color;
  }
  .upload-container {
    padding: @margin-base * 4;
  }
  .upload-icon {
    font-size: 48px;
  }
  .submission-uploader .ant-upload {
    width: 100%;

  }
}
