@import "../../../styles/vars.less";
@import "../../../styles/mixins.less";

.compelling_storytelling {
  margin-top: @margin-base-1;
  h2 {
    color: @d4sd-color-two;
  }
}

.entryCards {
  margin-top: @margin-base-1;
  text-align: left;
  margin-bottom: @margin-base-1;

  .entryDiv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    h4 {
      padding-top: @margin-base-1;
      color: @d4sd-color;
    }
    h5 {
      line-height: 3rem;
      font-size: 2rem;
    }
    p {
      color: @primary-txt;
    }

    .imgDiv {
      background: @primary-txt;
      height: 25rem;
      width: 100%;
      transition: all 0.2s ease-in-out;
    }

    .imgDiv:hover {
      transform: scale(0.95);
    }
  }
}
