@import "../../../styles/vars.less";
@import "../../../styles/mixins.less";

.compelling_storytelling {
  margin-top: @margin-base-1;
  h2 {
    color: @d4sd-color-two;
  }
}

.entryCards {
  margin-top: @margin-base-1;
  text-align: left;

  .entryDiv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    >*{
      margin-top: @margin-base;
    }
    h4 {
      color: @d4sd-color;
    }
    h5 {
      font-size: 2rem;
    }
    p {
      color: @primary-txt;
    }

    .imgDiv {
      background: @primary-txt;
      height: 25rem;
      width: 100%;
    }

    .imgDiv:hover{
      transform: scale(0.9);
      transition: all 0.3;
    }
  }
}
